doctype html
html(lang="en")
  head
    script(src="/js/audio.min.js")
  body
    style(type="text/css").
        audio {
           width:100%;
           max-width:600px;
           height:auto;
        }
        .audiojs {
            height: 233px;
        }
        .audiojs .play-pause {
            width: 230px;
            height: 230px;
        }
        .audiojs .play {
            background: url("/images/play.jpeg");
            width: 225px;
            height: 225px;
        }
        .audiojs .pause {
            background: url("/images/pause.jpeg");
            width: 225px;
            height: 225px;
        }
        .audiojs .scrubber {
            width: 80px;
        }

    script.
        audiojs.events.ready(function() {
            var as = audiojs.createAll();
        });

    audio(src="#{trackUrl}" preload="auto" autoplay="1")



